[Unit]
Description=Leihs LDAP Authenticator
Documentation=https://github.com/elan-ev/leihs-ldap-authenticator
Wants=network.target
Requires=leihs-admin.service
StartLimitIntervalSec=500
StartLimitBurst=20

[Service]
Type=simple
User=leihsldap
ExecStart=/opt/leihsldap/venv/bin/python3 -m gunicorn.app.wsgiapp --config=/etc/leihsldap/gunicorn.conf.py leihsldap.web:app
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
